<section class="h-100  w-75 h-custom" style="background-color: #8fc4b7;margin-top: 50px;border-radius: 30px;margin-left: 13%">
  <div class="container w-100 py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 displayTable">
      <div class="col-lg-8 col-xl-6 displayTableCell" style="border-radius: 30px">
        <div class="card rounded-3 authBlock" >
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Reset Password</h3>
            <p class="text-center">Please enter your email address to request a password reset.</p>
            <form class="px-md-2">
              <div class="form-outline mb-4">
                <label class="form-label" >Email</label>
                  <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
              </div>
              <div class="accordion-button" style="margin-left: 20%;background-color:#8fc4b7;border-radius: 15px ;width: 140px">
                <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
              </div>
            </form>
          </div>
          <div class="redirectToLogin" style="margin-left: 30%">
            <span>Go back to ? <span class="redirect" routerLink="/sign-in">Log In</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

















