<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container"> <a class="navbar-brand" routerLink="/products">EMIShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"> <a class="nav-link" routerLink="/products">Home <span class="sr-only">(current)</span></a> </li>
        <li class="nav-item"> <a class="nav-link" routerLink="/sign-in">Account</a> </li>
        <li class="nav-item"> <a class="nav-link " routerLink="/carts">Panier</a> </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="button"  routerLink="/sign-in"style="margin-left: 70px">Sign In</button>
        <button class="btn btn-outline-primary my-3 my-sm-0" type="button" routerLink="/sign-up" style="margin-left: 10px">Sign Up</button>
      </form>
    </div>
  </div>
</nav>
